@font-face {
  font-family: 'typotitre';
  src: url('~@/assets/fonts/OpenSauceSans/OpenSauceSans-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-size: 50px;
}

@font-face {
  font-family: 'typotitre2';
  src: url('~@/assets/fonts/OpenSauceSans/OpenSauceSans-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-size: 40px;
}

@font-face {
  font-family: 'typotexte';
  src: url('~@/assets/fonts/OpenSauceSans/OpenSauceSans-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-size: 40px;

}

html, body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  width: 100%;
  font-family: 'typotexte';
}




h1,h2,h3{
  font-family: 'typotitre', sans-serif;
}
h4,h5,h6 {
  font-family: 'typotitre2', sans-serif;
}
p {
  font-family: 'typotexte', sans-serif;
}


#main-nav {
          display: flex;
          justify-content: space-between;
          align-items: center;
          max-width: 100vw;
          max-height: 10vh;
          background-color: #ffffff00;
          box-shadow: 0 0px 0px rgba(0,0,0,0.0);
  padding: 25px 10px;
      }




      .match-button{
        padding: 1em 1.8em;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 2px;
        max-height: 55px;
        font-weight: 500;
        color: #000;
        background-color: #fff;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
        
      }






      #Mybutton {
        padding: 1.3em 3em;
        font-size: 12px;
        max-height: 36px;
        align-content: center;
        min-width:140px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 600;
        color: #ffffff;
        background-color: #304E8D;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
        transition: 0.5s;
        text-decoration: none;

      } 

      
      
        #Mybutton:hover {
          background-color: #abddc937;
          box-shadow: 0px 15px 20px rgb(19, 171, 105);
          background-color: black;
          color: #fff;
          transform: translateY(-2px);
          transition: 0.5s;
        }
      
      #Mybutton:active {
        transform: translateY(-1px);
      }






      #Mylittlebutton {
        padding: 0.1em 2em;
        font-size: 11px;
        max-height: 40px;
        align-content: center;
        text-align: center;
        align-items: center;


        width: 190px;
        max-width: 180px;
min-height: 40px;

        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 500;
        color: #000;
        background-color: #fff;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
        transition: 0.5s;
        text-decoration: none;

      } 


      #Mylittlebutton:hover {
        background-color: #abddc937;
        background-color: black;
        color: #fff;
        transform: translateY(-2px);
        transition: 0.5s;
      }
    
    #Mylittlebutton:active {
      transform: translateY(-1px);
    }












      
.filter-button .active-filter {
  padding: 0.3em 0.6em;
  max-width: 100px;

  font-size: 10px;
  max-height: 40px;
  align-content: center;
  min-width: fit-content;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  font-weight: 600;
  background-color: #008C6F; /* Green background when active */
  color: white;
  transform: scale(1.02);
}


button:hover {
opacity: 0.8; /* Effet d'interaction simple */
background-color: #008C6F; /* Ajustez la couleur du bouton selon votre design */
color: white;
transform: scale(1.1);

}

      










.cortagus {
  display: flex;
  flex-direction: row;
  align-items:end;
  justify-content: space-around;
  font-family: 'Helvetica'; /* Ou une autre police en fonction de votre design */
  color: #333;
  text-align: center;
  padding: 2rem;
}



.titrecarte {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  color: #333;
  text-align: left;
  padding-left: 40px;
  margin-bottom: 24px;
}
.titrecarte h1 {
  display: flex;
  font-family: 'typotitre2';
  font-size: 2.4rem;
  font-weight: 500;
  max-width: 45%;
  margin-bottom: 1rem;
  margin-top:10px;
  align-items: left;
  
  color: #000; /* Ajustez la couleur selon votre design */
}

.titrecarte p {
  display: flex;
max-width: 65%;
font-family: 'typotexte';
  font-size: 1.2rem;
  font-weight: 200;
  align-items: left;
justify-content: left ;
  color: #666; /* Ajustez la couleur selon votre design */
}
#separee {
  display: flex;
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}



.repasse{
  padding: 0.1em 2em;
  font-size: 11px;
  max-height: 40px;
  align-content: center;
  text-align: center;
  align-items: center;


  width: 220px;
  max-width: 220px;
min-height: 40px;
margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  transition: 0.5s;
  text-decoration: none;

}

/* vosactivité*/



.cfilters{
  width:100%;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
  min-height: 90px;
}











@media (min-width: 360px) and (max-width: 1000px) {
  
  @font-face {
    font-family: 'typotitre';
    src: url('~@/assets/fonts/OpenSauceSans/OpenSauceSans-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-size: 36px;
  }
  
  @font-face {
    font-family: 'typotitre2';
    src: url('~@/assets/fonts/OpenSauceSans/OpenSauceSans-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
  }
  
  @font-face {
    font-family: 'typotexte';
    src: url('~@/assets/fonts/OpenSauceSans/OpenSauceSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
  
  }
  
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'typotexte';
  }



  #main-nav {
    width: 100vw;
    justify-content: space-around ;
    max-height: 10vh;
    background-color: #ffffff00;
padding: 25px 0px !important;
justify-content: space-around;
}




#myButton{ 
  min-width:110px;
  width: 110px;
  padding: 8px 10px;
  max-width:110px;
}

#Mylittlebutton{
  font-size: 11px;
  max-width: 140px;
}



.titrecarte h1 {
  display: flex;
  font-family: 'typotitre2';
  font-size: 2.4rem;
  font-weight: 500;
  max-width: 85%;
  margin-bottom: 1rem;
  margin-top:10px;
  align-items: left;
  
  color: #000; /* Ajustez la couleur selon votre design */
}


.titrecarte p {
  display: flex;
max-width: 85%;
font-family: 'typotexte';
  font-size: 1.2rem;
  font-weight: 200;
  align-items: left;
justify-content: left ;
  color: #666; /* Ajustez la couleur selon votre design */
}







.cfilters{
  width:100%;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
  min-height: 90px;
}




.cortagus {
padding-left: 15px;
padding-top: 0px;
}


.titrecarte p{
width: 100%;  }

.titrecarte h1 {
  width: 100%;  }


}